<mat-form-field class="example-full-width">
  <mat-label>Buscar</mat-label>
  <input [(ngModel)]="cadenaBuscar" matInput placeholder="Buscar" value="">
</mat-form-field>
<button (click)="buscar()">Buscar</button>
<div *ngIf="showChip">
  <mat-chip-grid #chipGrid aria-label="Busqueda">
    <mat-chip (removed)="deleteBusqueda()">
      {{cadenaBuscar}}
      <button matChipRemove [attr.aria-label]="'remove '">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-grid>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="proyectoPage" multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>    

    <ng-container matColumnDef="fechaEntrega">
      <th mat-header-cell *matHeaderCellDef> Fecha de Entrega</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEntrega | date}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción</th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="porcentajePenalizacion">
      <th mat-header-cell *matHeaderCellDef>Porcentaje penalización</th>
      <td mat-cell *matCellDef="let element"> {{element.porcentajePenalizacion}} </td>
    </ng-container>

    <ng-container matColumnDef="flujoAcumulado">
      <th mat-header-cell *matHeaderCellDef>Flujo Acumulado</th>
      <td mat-cell *matCellDef="let element"><button (click)="abrirFlujoAcumulado(element)" mat-raised-button>Ver Flujo Acumulado</button></td>
    </ng-container>

    <ng-container matColumnDef="diagramaQuemado">
      <th mat-header-cell *matHeaderCellDef>Diagrama quemado</th>
      <td mat-cell *matCellDef="let element"><button (click)="abrirFlujoAcumulado(element)" mat-raised-button>Ver diagrama de quemado</button></td>
    </ng-container>

    <ng-container matColumnDef="tareas">
      <th mat-header-cell *matHeaderCellDef>Tareas</th>
      <td mat-cell *matCellDef="let element"><a href="/tarea" mat-raised-button>Ver tareas</a></td>
    </ng-container>

    <ng-container matColumnDef="kanban">
      <th mat-header-cell *matHeaderCellDef>Kanban</th>
      <td mat-cell *matCellDef="let element"><button (click)="abrirFlujoAcumulado(element)" mat-raised-button>Ver Kanban</button></td>
    </ng-container>


    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isActive;else elseBlock">
          <mat-icon class="material-icons on">wb_incandescent</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon class="material-icons off">wb_incandescent</mat-icon>
        </ng-template>
      </td>
    </ng-container>




    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            Archivos:
            <div *ngIf="newProyecto.files != undefined">
              <mat-chip-row matTooltip="Descargar" *ngFor="let file of newProyecto.files.split(',')" (click)="openFile(file)" (removed)="removeFile(file)" [editable]="true">
                {{file}}
              </mat-chip-row>
            </div><br />
            <span class="example-element-description-attribution"></span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandir(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
