<mat-form-field class="example-full-width">
  <mat-label>Buscar</mat-label>
  <input [(ngModel)]="cadenaBuscar" matInput placeholder="Buscar" value="">
</mat-form-field><br />
<button mat-raised-button color="primary" (click)="buscar()"><mat-icon>search</mat-icon>Buscar</button>
<div *ngIf="showChip">
  <mat-chip-grid #chipGrid aria-label="Busqueda">
    <mat-chip (removed)="deleteBusqueda()">
      {{cadenaBuscar}}
      <button matChipRemove [attr.aria-label]="'remove '">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-grid>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tareaPage" multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef>Proyecto</th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="proyecto != undefined"> {{proyecto.nombre}} </div> </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaCreacion">
      <th mat-header-cell *matHeaderCellDef>Fecha Creación</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaTentativa">
      <th mat-header-cell *matHeaderCellDef>Fecha finalización</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaTentativa | date}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef>Autor</th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.autor != undefined"> {{element.autor.nombre}} </div> </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.status != undefined"> {{element.status.nombre}} </div></td>
    </ng-container>
 

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <input type="hidden" [(ngModel)]="newTarea.id" />

            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="newTarea.nombre" matInput placeholder="Nombre Tarea" value="">
            </mat-form-field><br />

            <mat-form-field appearance="fill">
              <mat-label>Fecha tentativa de entrega</mat-label>
              <input [(ngModel)]="newTarea.fechaTentativa" matInput [min]="minDate" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> <br />

            <button type="button" mat-raised-button (click)="fileInput.click()">Subir archivo <mat-icon>attach_file</mat-icon></button>
            <input hidden type="file" (change)="onFileSelected($event)" #fileInput name="name" value="" multiple /><br />

            Archivos:
            <div *ngIf="newTarea.files != undefined">
              <mat-chip-row matTooltip="Descargar" *ngFor="let file of newTarea.files.split(',')" (click)="openFile(file)" (removed)="removeFile(file)" [editable]="true">
                {{file}}
                <button matChipRemove [attr.aria-label]="'remove ' + file">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </div>
            <br />

            <mat-form-field appearance="fill">
              <mat-label>Etiquetados</mat-label>
              <mat-select [compareWith]="compareFunction" [(ngModel)]="newTarea.etiquetados" multiple>
                <mat-option *ngFor="let user of usuariosSelectList" [value]="user">{{user.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>


            <div *ngIf="newTarea.status != undefined">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [compareWith]="compareFunction" [(ngModel)]="newTarea.status">
                  <mat-option *ngFor="let status of statusList" [value]="status">
                    {{status.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div><br />
            
            <mat-form-field  appearance="fill">
              <mat-label>Historia de usuario</mat-label>
              <mat-select  [compareWith]="compareFunction" [(ngModel)]="newTarea.historiasUsuario">
                <mat-option *ngFor="let hist of historiasUsuarios" [value]="hist">
                  {{hist.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field><br />


            <mat-form-field class="example-full-width">
              <mat-label>Descripción</mat-label>
              <textarea [(ngModel)]="newTarea.descripcion" matInput></textarea>
            </mat-form-field><br />
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            <span class="example-element-description-attribution"></span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandir(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
