<mat-form-field class="example-full-width">
  <mat-label>Buscar</mat-label>
  <input [(ngModel)]="cadenaBuscar" matInput placeholder="Buscar" value="">
</mat-form-field>
<button (click)="buscar()">Buscar</button>
<div *ngIf="showChip">
  <mat-chip-grid #chipGrid aria-label="Busqueda">
    <mat-chip (removed)="deleteBusqueda()">
      {{cadenaBuscar}}
      <button matChipRemove [attr.aria-label]="'remove '">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-grid>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="usuarioPage" multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreUsuario">
      <th mat-header-cell *matHeaderCellDef>Nombre usuario</th>
      <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="puntaje">
      <th mat-header-cell *matHeaderCellDef>puntaje</th>
      <td mat-cell *matCellDef="let element"> {{element.puntaje}} </td>
    </ng-container>


    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.rol != undefined"> {{element.rol.nombre}} </div> </td>
    </ng-container>

    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isActive;else elseBlock">
          <mat-icon class="material-icons on">wb_incandescent</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon class="material-icons off">wb_incandescent</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">

            <input type="hidden" [(ngModel)]="newUsuario.id" />

            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="newUsuario.nombre" matInput placeholder="Nombre Equipo" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Nombre Usuario</mat-label>
              <input [(ngModel)]="newUsuario.nombreUsuario" matInput placeholder="Nombre Usuario" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" [(ngModel)]="newUsuario.password" matInput placeholder="Password" value="">
            </mat-form-field>
            <div *ngIf="newUsuario.rol!= undefined">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="newUsuario.rol.id">
                  <mat-option *ngFor="let rol of rolList" [value]="rol.id">
                    {{rol.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

              <mat-slide-toggle [(ngModel)]="newUsuario.isActive">Usuario Activo</mat-slide-toggle>
              <button (click)="guardar()">Guardar</button>
              <span class="example-element-description-attribution"></span>
            </div>
          </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandir(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
